<h2>6. Template Syntax</h2>
<ol>
    <li> String Interpolation is used to render dynamic data on the HTML template </li>
    <li> one-way data binding (From Component to the View Template). </li>
    <li> double curly braces {{"{{propertyName}}"}}</li>
</ol>

<ol>
    <li> Interpolation </li>
    <li> Interpolation with hardcoded string </li>
    <li> Method() </li>
    <li> Ternary Operator </li>
    <li> Template reference variable </li>
    <li> Pipes </li>
    <li> Template expressions </li>
    <li> basic without any error handling </li>
    <li> error handling: ensures presence of the property value's in an object </li>
    <li> safe navigation operator: it securely connects internal fields </li>
</ol>

<!--  1. Interpolation  -->
<h3>  1. Interpolation </h3>
<p>{{Interpolation}}</p>
<button innerText={{caption}}></button>




<!--  2. Interpolation with hardcoded string  -->
<h3> 2. Interpolation with hardcoded string </h3>
<p>{{'hardcoded string '+ Interpolation}}</p>





<!--  3. Method  -->
<h3> 3. Method() </h3>
<p>{{'hardcoded string '+ Method()}}</p>
<p>{{ Method()}},{{ Method()}}</p>




<!-- 4. Ternary Operator -->
<h3> 4. Ternary Operator </h3>
<p>{{flag ? 'ture string interpulation':'false string interpulation'}}</p>




<!-- 5. Template reference variable  -->
<h3> 5. Template reference variable </h3>
<input type="text" (keyup)="0" #input>
<p>{{input.value}}</p>




<!-- 6. basic without any error handling  -->
<h3>6. basic without any error handling</h3>
<p>{{object.name}}</p>



<!-- 7.error handling: ensures presence of the property value's in an object -->
<h3>7.ensures presence of the property value's in an object</h3>
<p>  Last Modified: {{object && object.id}}</p>



<!--8. safe navigation operator: it securely connects internal fields-->
<h3>8. safe navigation operato</h3>
<p>Country: {{object?.name}}</p>

<!--  9. Template expressions -->
<h3> 9.Template expressions </h3>
<p>{{4+5}}</p>
<p>{{4*5}}</p>
<p>{{4-5}}</p>

<!-- 10.Pipes -->
<h3>10. Pipes</h3>
<p>{{Interpolation| uppercase}}</p>
<p>{{Interpolation| lowercase}}</p>
<p>{{Interpolation| json}}</p>


<!-- 11.ngNonBindable -->
<h3>11. ngNonBindable</h3>
<p>Evaluate: {{Interpolation}}</p>
<p ngNonBindable>Do not evaluate: {{Interpolation}}</p>