<h2>Angualr 13</h2>

<ol>
  <li> Angualr</li>
  <li> Angualr architecture</li>
  <li> Angualr working</li>
  <li> Angualr Cli</li>
  <li> Componenents</li>
  <li routerLink="/template-synatx"> Template Syntax</li>
  <li> Directives</li>
  <li> Decorators </li>
  <li> Share data between Componets</li>
  <li> Element</li>
  <li> Lifecycle hooks</li>
  <li> Services</li>
  <li> Observables</li>
  <li> Http module</li>
  <li> Routing</li>
  <li> Form</li>
  <li> Change Detection</li>
  <li> Animation</li>
  <li> Angular Material UI </li>
  <li> CRUD practice</li>
</ol>